# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @Tolam-Earth/armm-developers will be requested for
# review when someone opens a pull request.

* @Tolam-Earth/tolam-oci-integration-owners

.github/ @Tolam-Earth/tolam-oci-cloud-owners
cloudbuild* @Tolam-Earth/tolam-oci-cloud-owners
SECURITY.md @Tolam-Earth/tolam-oci-security-owners
